body {
  background-color: #333333;
}

a {
  color: #f5f5f5;
  text-decoration: none;
}

a:hover {
  color: #198754;
}

/* Navigation */

.custom-nav {
  background-color: #282828;
}

.custom-nav .navbar-nav .nav-link {
  color: white;
}

.logo-img {
  max-height: 50px;
}

.custom-nav {
  display: flex;
  align-items: center;
  background-color: #282828;
}

.custom-nav .nav-item {
  margin-right: 1.5rem;
}

.custom-nav .btn {
  margin-left: 1.5rem;
}

.navbar-toggler{
  background-color: white;
}

.custom-nav .navbar-collapse:not(.show) {
  height: 10vh;
  width: 100%;
}
.custom-nav .navbar-collapse.show {
  height: auto;
}

/* Footer */
footer {
  padding: 1rem 0;
  color: white;
  min-height: 30vh;
  width: 100%;
  background-color: #282828;
}

/* Hero Image */

  .hero-image {
    background-image: url("https://res.cloudinary.com/dfo9w2bsp/image/upload/v1691319685/Vegan%20Burgers/pexels-daniel-reche-1556688_sjxkmj.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 65%;
    opacity: 0.9;
    height: 60vh;
    color: white;
    overflow-x: hidden;
  }

  /* Main */

  .custom-main {
    color: white;
    min-height: 55vh;
    overflow-y: visible;
  }

/* Menu */

.menu-items {
  display: flex;
  flex-direction: column;
}

.menu-item {
  width: 80%; 
  height: 40vh;
  flex-direction: column;
  font-size: 0.75rem;
}
.menu-img-container{
  height: 50%;
  width: 100%;
}
.menu-itm-img {
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu-itm-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 50%;
  width: 100%;
}

/*Menu Admin */
.accordion-button:focus {
  outline: none;
  box-shadow: none;
}
td .menu-itm-img {
  max-width: 100px; 
  height: auto; 
  display: block; 
  margin: 0 auto;
}

/* Reservations Page */

.modal-body, .modal-header{
  color: black;
}

/* Accordion */

.accordion {
  display: inline-block;
  min-width: 50vw;
}