body {
  background-color: #282828;
}

/* Navigation */

.custom-nav {
  background-color: #282828;
}

.custom-nav .navbar-nav .nav-link {
  color: white;
}

.logo-img {
  max-height: 50px;
}

.custom-nav {
  display: flex;
  align-items: center;
  background-color: #282828;
}

.custom-nav .nav-item {
  margin-right: 1.5rem;
}

.custom-nav .btn {
  margin-left: 1.5rem;
}

.navbar-toggler{
  background-color: white;
}

.custom-nav .navbar-collapse:not(.show) {
  height: 10vh;
}
.custom-nav .navbar-collapse.show {
  height: auto;
}

/* Footer */
footer {
  padding: 1rem 0;
  color: white;
  height: 30vh;
}

/* Hero Image */

  .hero-image {
    background-image: url("https://res.cloudinary.com/dfo9w2bsp/image/upload/v1691319685/Vegan%20Burgers/pexels-daniel-reche-1556688_sjxkmj.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: 65%;
    opacity: 0.9;
    height: 100%;
    color: white;
    overflow-x: hidden;
  }

  /* Main */

  .custom-main {
    color: white;
    height: 60vh;
    overflow-y: auto;
  }

