{% extends "base.html" %}
{% block meta_tags %}
    <meta name="description" content="Homepage">
    <meta property="og:title" content="Home">
{% endblock %}

{% block content %}
<div class="hero-image d-flex flex-column justify-content-between">
    <div class="mt-5">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h1>The Home of Vegan Burgers</h1>
          <p>Come try our delicious vegan burgers, just like your meat burgers without the animal cruelty!</p>
        </div>
      </div>
    </div>
  
    <div class="mb-5">
      <div class="row justify-content-center">
        <div class="col-6 text-center">
          {% if user.is_authenticated %}
          <a class="btn btn-success" href="{% url 'reservation:make_reservation' %}">
            Make a Reservation
          </a>
          {% else %}
          <a class="btn btn-success" href="{% url 'account_login' %}">
            Make a Reservation
          </a>
          {% endif %}
        </div>
        <div class="col-6 text-center">
          <a class="btn btn-success" href="{% url 'menu:menu_view' %}">
            View Menu
          </a>
        </div>
      </div>
    </div>
  </div>
 {% endblock content %}