{% extends "base.html" %}
{% block meta_tags %}
    <meta name="description" content="Make a New Reservation">
    <meta property="og:title" content="Make Reservation">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center m-5 reservation-form">
        <div class="col-md-6">
            <form method="post" class="border rounded p-4">
                <h2 class="text-center mb-4">Make a Reservation</h2>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.date.id_for_label }}" class="form-label">Date</label>
                    {{ form.date }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.time.id_for_label }}" class="form-label">Time</label>
                    {{ form.time }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.guests.id_for_label }}" class="form-label">Number of Guests</label>
                    {{ form.guests }}
                </div>
                <button type="submit" class="btn btn-success">Make Reservation</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

