{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h2 class="text-center mt-4">Menu</h2>
    {% if reservations %}
    <div class="row">
      {% for category, items in menu_items_by_category.items %}
      <div class="col-md-3">
        <h3 class="mt-4">{{ category }}</h3>
        <div class="menu-items">
          {% for item in items %}
          <div class="menu-item card mb-4">
            <div class="card-img-top menu-img-container">
              <img class="menu-itm-img" src="{{ item.item_image.url }}" alt="{{ item.name }}">
            </div>
            <div class="card-body menu-itm-content">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">{{ item.description }}</p>
              <p class="text-primary">€{{ item.price }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}