{% extends "base.html" %}

{% block content %}
<div class="container my-reservations">
    <div class="row mt-4">
        <div class="col-md-6 offset-md-3"> 
            <h2>Your Reservations</h2>
            {% if reservations %}
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Number of Guests</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.date }}</td>
                        <td>{{ reservation.time }}</td>
                        <td>{{ reservation.guests }}</td>
                        <td colspan="2">
                            <a href="{% url 'edit_reservation' reservation.id %}" class="btn btn-primary">Edit</a>
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancelModal{{ reservation.id }}">Cancel</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            {% for reservation in reservations %}
            <div class="modal fade" id="cancelModal{{ reservation.id }}" tabindex="-1" aria-labelledby="cancelModalLabel{{ reservation.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="cancelModalLabel{{ reservation.id }}">Confirm Cancellation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="{% url 'cancel_reservation' reservation.id %}">
                                {% csrf_token %}
                                <p>Are you sure you want to cancel this reservation?</p>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Cancel Reservation</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>You have no reservations yet.</p>
            {% endif %}
            <a href="{% url 'make_reservation' %}" class="btn btn-success">Make a Reservation</a>
        </div>
    </div>
</div>
{% endblock content %}
